body {
    padding-bottom: 0px;
}

.navbar-brand {
    margin-left: 25px;
}

.navbar-nav {
    margin-right: 30px;
}

.scrollable-menu {
    height: auto;
    max-height: 250px;
    overflow-x: hidden;
}
